/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
.menu__link--active,
.menu__link:hover,
.menu__link--sublist-caret::after {
  color: #000000 !important; 
  background-color: #61379c !important; 
  font-weight: 700 !important; 
}

.menu__link {
  color: #000000 !important; 
  background-color: transparent !important;
  font-weight: 400 !important; 
}

.menu__link--sublist-caret::after {
  border-color: #080606 !important; 
}

:root {
  --ifm-color-primary: #a27fb5; 
  --ifm-color-primary-dark: #fcfcfc;
  --ifm-color-primary-light: #bb9fc3;
  --ifm-font-family-base: 'Montserrat', sans-serif; 
  --ifm-navbar-height: 80px; 
  --ifm-container-width: 1200px; 
}

.navbar {
  background-color: var(--ifm-color-primary-dark); 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
  padding: 0 20px; 
}

.navbar__title {
  color: rgb(0, 0, 0); 
  font-weight: 700; 
}

.navbar__link {
  color: rgb(0, 0, 0); 
  border-radius: 20px; 
  padding: 8px 16px; 
  transition: background-color 0.3s; 
}

.navbar__link:hover {
  background-color: var(--ifm-color-primary-light); 
  color: rgb(0, 0, 0);
}

.navbar__logo {
  height: 85px; 
}

.footer {
  background-color: var(--ifm-color-primary-dark); 
}